.contact-form {
  width: 100%;
}

@media screen and (min-width: 740px) {
  .contact-form {
    width: 50%;
  }
}

.donkey-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
